<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Безопасность Товаров</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <div class="header__bar">
            <a href="" class="header__name">
                Анализатор безопасности товаров
            </a>
        </div>
        <div class="header__nav">
            <div class="header__nav__point">
                Форма
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>
        дора eSports
    </footer>
</body>
</html>